name: Maven CI/CD

on:
  push:
    branches: [ lesson28 ]
    paths:
      - "lesson28/**"
  pull_request:
    branches: [ lesson28 ]
    paths:
      - "lesson28/**"

jobs:
  build_and_test:

    runs-on: ubuntu-latest
  
    steps:
    - name: Checkout
    - uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: 17
        cache: 'maven'
    
    - name: Cache the Maven packages to speed up build
      uses: actions/cache@v3
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2

    - name: Build hello-world
      run: mvn -B package --file lesson28/hello-world/pom.xml
    - name: Build hello-jenkins
      run: mvn -B package --file lesson28/hello-jenkins/pom.xml
    - name: Build hello-devops
      run: mvn -B package --file lesson28/hello-devops/pom.xml

  publish-job:
      runs-on: ubuntu-latest
      needs: [build_and_test]
      steps:
        - uses: actions/checkout@v4
        - uses: actions/setup-java@v4
          with:
            java-version: 17
        - run: mvn -B package --file lesson28/hello-world/pom.xml -DskipTests
        - run: mvn -B package --file lesson28/hello-jenkins/pom.xml -DskipTests
        - run: mvn -B package --file lesson28/hello-devops/pom.xml -DskipTests
        - run: mkdir staging && cp target/*.jar staging
        - uses: actions/upload-artifact@v4
          with:
            name: Package
            path: staging

  build-docker-image:
    name: Publish to Docker Hub
    runs-on: ubuntu-latest
    needs: [build_and_test]

    steps:
      - uses: actions/checkout@v4
      - name: Login to Docker Hub
        run: docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{secrets.DOCKER_PASSWORD }}
      - name: Build Container image
        run: docker build -t ${{ secrets.DOCKER_REPO }}:latest .
      - name: Publish Docker image
        run: docker push ${{ secrets.DOCKER_REPO }}
